.pp_item_div {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-around;
  padding: 0 30px;
}
.item {
  width: 33.33%;
  transition: 0.3s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #ddd;
  padding-bottom: 20px;
}
.item:hover {
  transform: scale(1.1);
}
.item_img {
  /*border: 1px solid #ccc; */
  /* border-radius: 4px; */
  width: 100%;
  height: 177px;
  overflow: hidden;
}
.item_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item h4,
.item h4 a {
  margin: 15px 0 8px;
  font-size: 14px;
  color: #000;
  text-decoration: none;
}
.item_price {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.item_new_price {
  font-weight: 600;
  font-size: 16px;
  color: #ff157b;
}
.item_old_price {
  font-size: 16px;
  color: #ccc;
  text-decoration: line-through;
}
