.Footer{
    background: #fae9c1;
    margin: 0 auto;
    padding: 25px 40px 20px;
}
.Footer ul{
    list-style: none;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items:center;
    padding: 0 0 10px 0;
}
.Footer ul li a {
    color: #000;
    font-size: 14px;
    text-decoration: none;
}
.Footer ul li a:hover{
    color:#ff157b;
}
.footer_social{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items:center;
    margin:10px 0;
}
.footer_social a{
    color:#000;
}
.footer_social a:hover{
    color:#ff157b;
}
hr{
    margin: 20px 0 30px;
    border: 1px solid #eedfbe;
}
.copy_right p{
    font-size: 12px;
}